src/wsdl/im-lamport_8080/TheOneBookstore.Florian.Fusseder/BookService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Impl.Services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="BookServiceService" targetNamespace="http://Impl.Services/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://Impl.Services/" elementFormDefault="unqualified" targetNamespace="http://Impl.Services/" version="1.0">

  <xs:element name="abstractBook" type="tns:abstractBook"/>

  <xs:element name="author" type="tns:author"/>

  <xs:element name="findAll" type="tns:findAll"/>

  <xs:element name="findAllResponse" type="tns:findAllResponse"/>

  <xs:element name="searchBooks" type="tns:searchBooks"/>

  <xs:element name="searchBooksResponse" type="tns:searchBooksResponse"/>

  <xs:complexType name="findAll">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findAllResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:abstractBook"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractBook">
    <xs:complexContent>
      <xs:extension base="tns:randomIdEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="isbn" type="xs:string"/>
          <xs:element minOccurs="0" name="bookReleaseDate" type="xs:dateTime"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="tns:author"/>
          <xs:element minOccurs="0" name="price" type="xs:decimal"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="randomIdEntity">
    <xs:complexContent>
      <xs:extension base="tns:singleIdEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="singleIdEntity">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="author">
    <xs:complexContent>
      <xs:extension base="tns:person">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="person">
    <xs:complexContent>
      <xs:extension base="tns:generatedIdEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="address" nillable="true" type="tns:address"/>
          <xs:element minOccurs="0" name="firstName" type="xs:string"/>
          <xs:element minOccurs="0" name="lastName" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="generatedIdEntity">
    <xs:complexContent>
      <xs:extension base="tns:singleIdEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="postNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="street" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="paperBook">
    <xs:complexContent>
      <xs:extension base="tns:abstractBook">
        <xs:sequence>
          <xs:element name="copies" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="electronicBook">
    <xs:complexContent>
      <xs:extension base="tns:abstractBook">
        <xs:sequence>
          <xs:element minOccurs="0" name="license" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="searchBooks">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchBooksResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:abstractBook"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="findAll">
    <wsdl:part element="tns:findAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllResponse">
    <wsdl:part element="tns:findAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchBooksResponse">
    <wsdl:part element="tns:searchBooksResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchBooks">
    <wsdl:part element="tns:searchBooks" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BookService">
    <wsdl:operation name="findAll">
      <wsdl:input message="tns:findAll" name="findAll">
    </wsdl:input>
      <wsdl:output message="tns:findAllResponse" name="findAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchBooks">
      <wsdl:input message="tns:searchBooks" name="searchBooks">
    </wsdl:input>
      <wsdl:output message="tns:searchBooksResponse" name="searchBooksResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookServiceServiceSoapBinding" type="tns:BookService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchBooks">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchBooks">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchBooksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookServiceService">
    <wsdl:port binding="tns:BookServiceServiceSoapBinding" name="BookServicePort">
      <soap:address location="http://im-lamport:8080/TheOneBookstore.Florian.Fusseder/BookService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>